In [1]:
c= 2 + 3j #complex number
c

(2+3j)

In [2]:
c.real

2.0

In [3]:
c.imag

3.0

In [4]:
b= True
b

True

In [5]:
type(b)

bool

In [6]:
b1 = False
type(b)

bool

In [7]:
a1,a2,a2 = 23,45,44

In [8]:
a1

23

In [9]:
a2

44

In [10]:
a= a1---a2

In [11]:
a

-21

In [12]:
b1 = True
b2 = False
b1-b2
b1/b2

ZeroDivisionError: division by zero

In [27]:
b = float(input())

10000000

In [28]:
b

10000000.0

In [29]:
Name = "Abhishek"

In [30]:
Name[1]

'b'

In [32]:
Name[0:8]

'Abhishek'

In [33]:
Name[8:3] #we will not get anything because we are moving in backword direction but we are jumping in positive direction

''

In [38]:
name_1 = Name[8:0:-1] #This is not giving A because second value is n-1

In [44]:
name_1 = Name[8::-1]

In [45]:
name_1

'kehsihbA'

In [46]:
#reverse the string 
reverse = "hello program"
reverse[::-1]

'margorp olleh'

In [49]:
d = bool(input())

True

In [50]:
d

True

In [52]:
a = '10'
a

'10'

In [53]:
int(a)

10

In [55]:
int = 123

In [56]:
int

123

In [57]:
b = '10'

In [58]:
int(b)

TypeError: 'int' object is not callable