# split

In [4]:
text = " Abhishek is passonate "

In [5]:
text.split()

['Abhishek', 'is', 'passonate']

In [6]:
word1 , word2 , word3 = text.split()

In [7]:
word1

'Abhishek'

In [8]:
word2

'is'

In [9]:
word3

'passonate'

In [18]:
a,b = input("enter two numbers seprated by spaces").split()
c = int(a)+int(b)
print("your sum is equal to ",c)

enter two numbers seprated by spaces2 3
your sum is equal to  5

In [26]:
s1 = "A B H I S H E K"
print(s1.split(' ',6))

['A', 'B', 'H', 'I', 'S', 'H', 'E K']

In [27]:
s2 = "C*H*I*N*U"
print(s2.split('*',5))

['C', 'H', 'I', 'N', 'U']

# Break and continue

In [36]:
for letter in "Abhishek":
    print( "=", letter)

= A
= b
= h
= i
= s
= h
= e
= k

In [43]:
for letter in "Abhishek":
    if(letter == "i"):
        break
    print( "=", letter)

= A
= b
= h

In [45]:
for value in range(5):
    if(value == 3):
        break
    print(value)

0
1
2

In [48]:
i = 1

while i<=10:
    print(i)
    
    if i>=5:
        break
    i+=1

1
2
3
4
5

In [50]:
num = [10,20,30,40,50,100,60,70]

for i in num:
    if i>=100:
        break
    print(i)

10
20
30
40
50

In [57]:
for i in range(11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [61]:
def add(a,b):
    return a+b

x =add(2,3)

In [62]:
x

5

In [63]:
def names(a,b):
    print("hohoho",a+b)
    
names("abhishek",'raut')

hohoho abhishekraut

In [64]:
def positive(n):
    if n>n:
        print(n)
    else:
        print(-n)

positive(-30)

30

In [66]:
def names(a,b):
    c = a+b
    print(c)       #this function is not returning anything
    
x = names("abhishek",'raut')

abhishekraut

In [68]:
x

In [69]:
def names(a,b):
    c = a+b
    return (c)       #this function is returning c value
    
x = names("abhishek",'raut')    #now we can store in x variable

In [70]:
x

'abhishekraut'

In [72]:
def calculator(a,b):
    a = int(input("Enter the first number :"))
    b= int(input("Enter the Second number :"))
    add = a+b;
    sub = a-b
    mul = a*b
    div = a/b
    return add ,sub, mul, div

calculator(1,2)

Enter the first number :3
Enter the Second number :4

(7, -1, 12, 0.75)

In [73]:
import math

In [78]:
def circle_area (radius):
    return radius *radius *3.14

circle_area(3)

28.26

In [77]:
def rectangle_area (l,b):
    return  l*b

rectangle_area(3,4)

12