In [12]:
def valPassword(pwd:str):
    if 8<= len(pwd) <= 32 and pwd[0].isalpha() and all(char not in pwd for char in [" ","'","/",'"','\\' ]):
         return  "valid password"
    else:
        return   "invalid password"

In [15]:
valPassword('ab2hiA')

'invalid password'

In [16]:
#Pyhton functions arguments

In [17]:
#positional arguments

def adnumbers(a,b):
    sum = a+b
    print("sum :",sum)

In [19]:
adnumbers(2,3)

sum : 5

In [20]:
def ename(name):
    print("my name is ",name)
    
ename("abhishek")

my name is  abhishek

In [22]:
def addnumbers(a=9,b=9):      #default arguments
    sum = a+b
    print("sum :",sum)

addnumbers()

sum : 18

In [23]:
#keyword arguments

In [26]:
def display(fname,lname):
    print("first name :",fname)
    print("last name :",lname)
    
display(lname = "Raut",fname = "abhishek")

first name : abhishek
last name : Raut

# *args and **keyword args

In [29]:
def find_num(*numbers):
    result = 0
    
    for num in numbers:
        result = result + num
    print("sum :",result)

In [30]:
find_num()

sum : 0

In [32]:
find_num(1,2,3,4,5,6)

sum : 21

In [62]:
def intro(**data):
    print("The Data type of arguments",type(data))
    
    for key,value in data.items():
        print(key,':',value)

In [56]:
z = {"name":"abhi","love":'coding'}

In [57]:
z.items()

dict_items([('name', 'abhi'), ('love', 'coding')])

In [58]:
for key,values in z.items():
    print(key,":",values)

name : abhi
love : coding

In [63]:
intro(firstname = "pw", lname="skills")

The Data type of arguments <class 'dict'>
firstname : pw
lname : skills

In [64]:
def simple(*t):
    print(t)

In [65]:
simple(12,23,3,4)

(12, 23, 3, 4)

In [69]:
def simple1(**L):
    print(L)

In [72]:
simple1(name = "abhishek")

{'name': 'abhishek'}

# lambda dunction

In [77]:
x =lambda :print("hello world")

In [79]:
x()

hello world

In [83]:
adding = lambda a,b : a+b

In [84]:
adding(2,3)

5

In [86]:
a = int(input("Enter the first number :"))
b = int(input("Enter the second number :"))
square = lambda a,b:(a**2,b**2)
print(square(a,b))

Enter the first number :2
Enter the second number :2
(4, 4)

In [94]:
z = lambda n: "true" if n%2 == 0 else "false"

In [96]:
z(3)

'false'

In [97]:
greatest_number = lambda a,b: a if a>b else b

In [98]:
greatest_number(3,2)

3

In [105]:
product =[
    {'name':"product1",'price':50},
    {'name':"product2",'price':30},
    {'name':"product3",'price':60},
    {'name':"product4",'price':90}
]

In [106]:
#sorted
sorted_products = sorted(product,key = lambda x:x['price'])

In [107]:
for i in sorted_products:
    print(i)

{'name': 'product2', 'price': 30}
{'name': 'product1', 'price': 50}
{'name': 'product3', 'price': 60}
{'name': 'product4', 'price': 90}